.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* height: 100vh; */
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #1DB954;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  button {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  button:hover {
    background-color: #1ed760;
  }
  
  .artist-game {
    /* margin-top: 50px; */
    padding: 50px;
    background-color: #181818;
    border-radius: 8px;
  }
  
  .artist-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .artist-card {
    background-color: #282828;
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .artist-card:hover {
    transform: scale(1.05);
  }
  
  .artist-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

  .loader {
    height: 30px;
    aspect-ratio: 2;
    display: grid;
    background:
      radial-gradient(farthest-side,#000 15%,#0000 18%)0 0/50% 100%,
      radial-gradient(50% 100% at 50% 160%,#fff 95%,#0000) 0 0   /50% 50%,
      radial-gradient(50% 100% at 50% -60%,#fff 95%,#0000) 0 100%/50% 50%;
    background-repeat: repeat-x;
    animation: l2 1.5s infinite linear;
  }
  
  @keyframes l2 {
    0%,
    15% {background-position:0   0,0 0,0 100%}
    20%,
    40% {background-position:5px 0,0 0,0 100%}
    45%,
    55% {background-position:0   0,0 0,0 100%}
    60%,
    80%{background-position:-5px 0,0 0,0 100%}
    85%,
    100% {background-position:0   0,0 0,0 100%}
  }
  
  