
 .App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(216deg, #717272, #000000, #4b4b4b);
    background-size: 600% 600%;
    animation: AnimationName 31s ease infinite;
    overflow-y: scroll;
  }
  
  @-webkit-keyframes AnimationName {
    0% { background-position: 0% 52%; }
    50% { background-position: 100% 49%; }
    100% { background-position: 0% 52%; }
  }
  
  @-moz-keyframes AnimationName {
    0% { background-position: 0% 52%; }
    50% { background-position: 100% 49%; }
    100% { background-position: 0% 52%; }
  }
  
  @keyframes AnimationName {
    0% { background-position: 0% 52%; }
    50% { background-position: 100% 49%; }
    100% { background-position: 0% 52%; }
  } 

  
